<!DOCTYPE html>
<html> 
  <head> 
    <title>Python Club</title> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  </head> 
  <body> 
    <div class='jumbotron'> 
      <h1 class="col-md-offset-2">Python Club</h1>
    </div> 
      <nav class="navbar navbar-default"> 
      <div class="col-md-offset-2 container-fluid">
        <div class="navbar-header"> 
          <a class="navbar-brand" href="{% url 'index' %}">Python Club</a>
        </div> 
        <ul class="nav navbar-nav"> 
          <li><a class="navbar-brand" href="{% url 'meetings' %}">Meetings</a></li>
          <li><a class="navbar-brand" href="{% url 'resources' %}">Resources</a></li> 
        </ul> 
      </div> 
    </nav> 
    <div class="container-fluid"> 
    {% block content %} 

    {% endblock content %} 
  </div> 
  </body> 
</html>